{% load static %}

<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Register</title>
</head>
<body class="bg">
<div>
    If you have an account: <a class="login_reg" href="{% url 'login' %}">login</a>
</div>
<header class="header">
      <p class="name">Сайтик</p>
      <p class="headerText1">Courses</p>
      <p class="headerText2">Programs</p>
      <p class="headerText3">Collaboration</p>
      <p class="headerText4">About</p>
      <form class="search-form">
        <input type="search" value="" placeholder="Search" class="search-input">
          <button type="submit" class="search-button">
            <svg class="submit-button">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
            </svg>
          </button>
      </form>
      <div class="login">
        <span class="inText1">Login</span>
      </div>
      <div class="register">
        <span class="inText2">Register</span>
      </div>
      <img class="eye" src="{% static 'images/eye.png' %}" alt="">
      <img class="profile" src="{% static 'images/jake.png' %}" alt="">
    </header>

    <div class="center">

      <span class="auth">Авторизация на сайте</span>

      <div class="logPassAuth" style="padding-top: 150px; padding-left: 60px;">
           <div class="log-auth">
               Логин:
           </div>
          <div class="pass-auth">

               Пароль:

           </div>

          <div class="pass2-auth">
               Повторите пароль:
           </div>
      <form action="handler.php">
          <img src="{% static 'images/PassPic.png' %}" alt="" style="width: 65px; position: absolute; vertical-align: top; border-radius: 10px; padding-top: 135px;">
          <img src="{% static 'images/PassPic.png' %}" alt="" style="width: 65px; position: absolute; vertical-align: top; border-radius: 10px; padding-top: 260px;">
          <img src="{% static 'images/loginPic.png' %}" alt="" style="width: 65px; vertical-align: top; border-radius: 10px;">

    <form method='POST' action="{% url 'register' %}">

        {% csrf_token %}

        {{form}}

        <p class="input_button"><input class="inp" type="submit"></p>
    </form>
  </form>
    </div>
    </div>

</body>
</html>